
{deps, [
{cowboy, "2.0.0", {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}},
   {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client", {tag, "develop"}}},
   {riak_pb, "2.3.2", {git, "https://github.com/basho/riak_pb", {tag, "2.3.2"}}},
   jiffy,
   {uuid, ".*",
     {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}
]
}.

{plugins, [rebar3_run]}.
{relx, [{release, { cowboy_riak, "0.1.0" },
         [cowboy_riak,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.




{overrides,
 [
  {override, rebar3_protobuffs_plugin, [{deps, [ {protobuffs, {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.2"}}}]}]},

  {override, protobuffs, [{deps, []}]},

  {override, riak_pb, [{plugins, [{riak_pb_msgcodegen,
                                   {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                    {branch, "master"}}},
                                  {rebar3_protobuffs_plugin,
                                   {git, "git://github.com/cmkarlsson/rebar3_protobuffs_plugin",
                                    {tag, "0.1.1"}}}]},
                       {provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                                                {compile, riak_pb_msgcodegen}]}]}]},

{override, hamcrest, [{plugins, []}]}]
}.
